[defaults]
# Inventory
inventory = ./inventory/hosts.ini

# Roles
roles_path = ./roles

# SSH behavior
host_key_checking = False
retry_files_enabled = False

# Output formatting
force_color = True
result_format = yaml
stdout_callback = ansible.builtin.default
deprecation_warnings = False

# Python interpreter
interpreter_python = auto_silent

# [privilege_escalation]
# # Windows privilege escalation
# become = True
# become_method = runas
# become_user = Administrator

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
